.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: white;
}

.CreateBlog {
  color: black;
}

.CreateBlogForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 70%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #f5f9fd;;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}

@media only screen and (max-width: 600px) {
  .CreateBlogForm {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
  }
}

.CreateBlogFormContent,
.CreateBlogFormTitle {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #535353;
  font-family: "PT Sans Narrow", sans-serif;
}

.CreateBlogFormContent:focus,
.CreateBlogFormTitle:focus {
  border: 2px solid rgb(66, 126, 248);
  outline: none;
}

.CreateBlogForm p {
  font-size: 2.5rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
}

.CreateBlogFormContent {
  resize: vertical;
}

.CreateBlogFormButton {
  margin-top: 0.5rem;
  margin-left: 10px;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: rgb(66, 126, 248);
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.CreateBlogFormButton {
  background-color: rgb(39, 104, 233);
  cursor: pointer;
  box-shadow: inset;
}
