.Home {
  font-size: 10px;
  font-family: "PT Sans Narrow", sans-serif;
}

.HomeHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(15, 17, 22);
  padding: 0 2rem;
}

.HomeHeadingSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  /* width: 50%; */
}

.HomeHeadingText {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: underline double 4px rgb(66, 126, 248);
  text-shadow: 0 0 7px rgb(66, 126, 248);
}

.HomeHeadingSearchSection {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.HomeHeadingSearchSectionOptions p {
  /* display: flex; */
  padding: 0;
  margin: 0;
}

.HomeHeadingSearch {
  padding: 5px 5px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid rgb(108, 151, 238);
  width: auto;
}

.HomeHeadingSearch:focus {
  outline: none;
  border: 3px solid rgb(66, 126, 248);
}

.HomeHeadingText::selection {
  color: rgb(15, 17, 22);
  background: white;
}

.HomeButton {
  margin-top: 0.5rem;
  margin-left: 10px;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: rgb(66, 126, 248);
  color: black;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.HomeButton:hover {
  background-color: rgb(39, 104, 233);
  cursor: pointer;
  box-shadow: inset;
}

.SearchSVG {
  height: 1.1rem;
  width: 1.1rem;
  /* padding: 2px; */
  padding: 0;
  margin: 0;
  /* padding-left: 5px; */
  margin-right: 5px;
}

.DownSVG {
  height: 0.7rem;
  width: 0.7rem;
  /* padding: 2px; */
  margin: 0;
  margin-left: 5px;
  /* margin-right: 5px; */

}

.SearchButton {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media only screen and (max-width: 676px) {
  .HomeHeading {
    display: flex;
    flex-direction: column;
  }

  .HomeHeadingText {
    text-align: center;
  }

  .HomeHeadingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .HomeHeadingSearch {
    /* align-items: left;
    margin-right: 10px; */
  }
}
